@model IEnumerable<Civionics.Models.Reading>
@using System.Data;

@{
    ViewBag.Title = "Readings";
    
    // Layout = "~/Views/Shared/_Layout.cshtml";
    var data = new DataView();
    
	var myChart = new Chart(width: 600, height: 400);
	myChart.AddTitle("Data for sensor" + sensorName);
	myChart.AddSeries(chartType: "Line",
		xValue: data, xField: "Time",
		yValues: data, yFields: "Value");
	myChart.Write(); //direct output to screen   
    
}


<head>
    <title>Sensor Readings - Graph</title>
</head>

<body>
    
</body>
