@model IEnumerable<string>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Users</h2>

<p>
    @Html.ActionLink("New User", "Register", null, new { @class = "btn btn-default" })
</p>

<table class="table">
    <tr>
        <th>
            Username
        </th>
        <th>
            Delete
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete/" + item, null, new { @class = "btn btn-default" })
            </td>
        </tr>
    }

</table>

